<fieldset class="one-column activities-grouping">
    <legend>{{localize (concat "DAGGERHEART.APPLICATIONS.Downtime." category ".moves") max=nrChoices.max current=nrChoices.current}}</legend>

    <div class="activities-container">   
        {{#each moves as |move key|}}
            <a class="activity-container" data-action="selectMove" data-category="{{../category}}" data-move="{{key}}" data-tooltip="{{concat "#" ../category "#" key}}" data-rest-type="{{../category}}">
                <div class="activity-inner-container">
                    <div class="activity-select-section">
                        <i class="{{move.icon}} activity-icon"></i>
                        <span>{{move.name}}</span>
                    </div> 
                </div>
            </a>
        {{/each}}
    </div>
</fieldset>