<div>
    <header class="dialog-header">
        <h1>{{title}}</h1>
    </header>

    <div class="downtime-container {{#if (and shortRestMoves.moves longRestMoves.moves)}}two-columns even{{else}}one-column{{/if}}">
        {{#if shortRestMoves.moves}}{{> "systems/daggerheart/templates/dialogs/downtime/activities.hbs" moves=shortRestMoves.moves category='shortRest' nrChoices=nrChoices.shortRest}}{{/if}}
        {{#if longRestMoves.moves}}{{> "systems/daggerheart/templates/dialogs/downtime/activities.hbs" moves=longRestMoves.moves category='longRest' nrChoices=nrChoices.longRest}}{{/if}}
    </div>

    <fieldset>
        <legend>{{localize "DAGGERHEART.APPLICATIONS.Downtime.moves.title"}}</legend>

        <div class="downtime-moves-container">
            {{#if selectedMoves}}
                {{#each selectedMoves as |move index|}}
                    <div class="downtime-move">
                        <div class="downtime-move-text">
                            <i class="{{move.icon}} downtime-move-icon"></i>
                            <span>{{move.name}}</span>
                        </div>
                        {{#if move.hasTarget}}
                            <div class="downtime-move-target">
                                {{localize "DAGGERHEART.APPLICATIONS.Downtime.moves.target"}}:
                                {{#if move.selfTargeted }}
                                    {{localize "DAGGERHEART.APPLICATIONS.Downtime.moves.targetSelf"}}
                                {{else}}
                                    <select name="downtime-move-{{index}}">
                                        <option value="{{../selfId}}">{{localize "DAGGERHEART.APPLICATIONS.Downtime.moves.targetSelf"}}</option>
                                        {{#each ../characters as | character |}}
                                            <option value="{{character.uuid}}" {{#if (eq move.targetUuid character.uuid)}}selected="true"{{/if}}>{{character.name}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                            </div>
                        {{/if}}
                        <div class="downtime-move-action">
                            <a data-action="removeMove" data-move-index="{{index}}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                {{localize "DAGGERHEART.APPLICATIONS.Downtime.moves.noMoves"}}
            {{/if}}
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "DAGGERHEART.APPLICATIONS.Downtime.refreshable.title"}}</legend>

        <div class="refreshables-container {{#if (and shortRestMoves longRestMoves)}}wide{{/if}}">
            {{#each this.refreshables.actionItems as | item |}}
                <div class="refreshable-container">
                    <span class="refreshable-title">{{item.title}}</span>
                    <span class="refreshable-name">{{item.name}}</span>
                </div>
            {{/each}}
            {{#each this.refreshables.resourceItems as | item |}}
                <div class="refreshable-container">
                    <span class="refreshable-title">{{item.title}}</span>
                    <span class="refreshable-name">{{item.name}}</span>
                </div>
            {{/each}}
        </div>
    </fieldset>

    <footer>
        <button type="button" data-action="close">{{localize "Cancel"}}</button>
        <button type="button" data-action="takeDowntime" {{#if disabledDowntime}}disabled{{/if}}>{{localize "DAGGERHEART.APPLICATIONS.Downtime.takeDowntime"}}</button>
    </footer>
</div>